[submodule "utils"]
	path = utils
	url = https://github.com/peonMQ/utils.git
	branch = main
[submodule "broadcast"]
	path = broadcast
	url = https://github.com/peonMQ/broadcast.git
	branch = main
